<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
    <style>
          .product-container {
                margin-bottom: 20px;
                margin-right: 20px;
                padding: 20px;
                box-sizing: border-box;
            }
            .col-6 {
                width: 93%;
                float: left;
            }
            .col-6 img {
                width: 250px;
                height: 250px;
                object-fit: scale-down;
            }
            #product-container {
                max-width: 1270px;
                margin: auto;
                padding-left: 30px;
                padding-right: 0px;
            }
            #product-item {
                margin-bottom: 10px;
                margin-right: -25px;
                padding: 0px;
                box-sizing: border-box;
            }
            .product-container {
                display: block;
            }
    </style>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
     <div class="header">
      <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href=""> <img src="/images/logo.png" width="125px"></a>
            </div>
            <nav>
              <ul id="Menuitems">
                <li><a href="">Home</a></li>
                <li><a href="">Products</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Account</a></li>
                <li><a href="" id="logout-button" class="logout-link">Logout</a></li>
              </ul>
            </nav>
            <a href=""><img src="" width="30px" height="30px"></a>
        </div>
      </div>
     </div>

     <h2 class="title">All Products</h2>
       <div class="small-container" id="product-container"></div>
      <div class="row" id="product-list"></div>
      <% if(productcollection && productcollection.length > 0){%>
        <% productcollection.forEach(product=>{%>
      <div class ='col-4 product-container' id="product-item">
        <div class="row">
          <div class="col-6">
            <a href="/getproducts/<%=product._id%>">><img src="<%product.image[0] %>"></a>
          </div>
          <div class="col-6"></div>
          <a href="/getproduct/<%= product._id %>"><h4><%= product.productname %></h4></a>
        <div class="rating">
          
        </div>
      </div>
</body>
</html>